/* 게시판 조회 */
#board_read {
    width: 100%;
    position: relative;
}

#btn_list {
    /* display: inline-block; */
    float: right;
}

.home_btn {
    padding:8px 20px 8px 20px;
    color: #fff;
    background-color: yellowgreen;
    border-radius: 5px;
    border: 1px solid yellowgreen;
    font-size: 16px;
    cursor: pointer;
}

.modify_btn {
    padding:8px 20px 8px 20px;
    color: #fff;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    font-size: 16px;
    cursor: pointer;
}

.delete_btn {
    padding:8px 20px 8px 20px;
    color: #fff;
    background-color: crimson;
    border-radius: 5px;
    border: 1px solid crimson;
    font-size: 16px;
    cursor: pointer;
}